/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* my css */
html {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

/* main grid container layout */
body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    width: 100vw;
}

.main-sidebar {
    grid-area: 1/1/3/2;
}

.main-header {
    grid-area: 1/2/2/3
}

.main-content {
    grid-area: 2/2/3/3;
}

/* sidebar grid container layout */
.main-sidebar {
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    grid-auto-rows: auto;
    gap: 70px;
    background-color: rgb(26 146 211);
    padding: 2rem;
}

.sidebar-header h1 {
    font-size: 2rem;
    color: white;
}

.sidebar-navigation h2, 
.sidebar-branding h2 {
    font-size: 1.5rem;
    color: white;
}

.sidebar-branding a, 
.sidebar-header a, 
.sidebar-navigation a {
    text-decoration: none;
}

.sidebar-header,
.sidebar-navigation,
.sidebar-branding {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.sidebar-header a, 
.sidebar-navigation a, 
.sidebar-branding a {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.sidebar-icon {
    filter: invert(100%);
    width: 1.6rem;
}

.sidebar-icon-main {
    filter: invert(100%);
}

/* header styling */
.main-header {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 1.5rem;
    gap: 20px;
}

.search {
    grid-area: 1/1/2/2;
}

.user-controls {
    grid-area: 1/2/2/3;
}

.welcome-banner {
    grid-area: 2/1/3/2;
}

.user-actions {
    grid-area: 2/2/3/3;
}

.search {
    height: 100%;
    width: 100%
}

.search label {
    display: grid;
    grid-template-columns: 1fr 9fr;
    height: 100%;
    width: 100%;
    align-content: center;
}

.user-controls {
    margin-left: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    justify-items: center;
    align-items: center;
}

.user-actions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    justify-content: space-between;
    gap: 10px;
}

.user-actions button {
    border-radius: 25px;
    color: white;
    width: 95%;
    height: 60%;
    background-color: rgb(26 146 211);
    border: none;
    font-size: 1rem;
}

.header-icon {
    width: 1.8rem;
}

.search-bar {
    border-radius: 15px;
    border: none;
    background-color: rgb(226, 232, 240);
}

.user-controls-notification {
    width: 1.7rem;
}

.user-controls-avatar {
    width: 4rem;
    border-radius: 100%;
}

.welcome-banner {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.welcome-banner-avatar{
    width: 6rem;
    border-radius: 100%;
}
.welcome-text {
    display: grid;
    gap: 5px;
    align-content: center;
}
.welcome-text span {
    font-size: .9rem;
    font-weight: bold;
}

.welcome-text h4 {
    font-size: 1.5rem;
    font-weight: bold;
}
/* main-content layout and some styling */
.main-content {
    display: grid; 
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(226, 232, 240);
    padding: 2rem;
    gap: 20px;
}

/* projects layout and styling */
.projects {
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.projects > h3 {
    grid-area: 1/1/2/3;
}

.project-article {
    background-color: white;
    border-radius: 15px;
    border-left: 5px solid rgb(240, 180, 42);
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    gap: 5px;
}
.project-title {
    grid-area: 1/1/2/3;
    align-self: end;
    font-weight: bold;
}
.project-text {
    grid-area: 2/1/3/3;
    color: gray;
}
.project-actions {
    grid-area: 3/2/4/3;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 15px;
}
.project-actions img {
    width: 1.5rem; 
    height: 1.5rem;
}
/* announcements layout and styling */
.announcements {
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-area: 1/2/2/3;
}

.announcements-container {
    background-color: white;
    border-radius: 8px;
    padding: 10px 30px;
    display: grid;
    grid-template-columns: 1fr;
}

.announcement-article {
    display: grid;
    grid-template-columns: 1fr;
}

.announcement-article:not(:nth-child(3)) {
    border-bottom: 1px solid rgb(226, 232, 240);
}

.announcement-article h4 {
    align-content: end;
    font-weight: bold;
}
.announcement-article p {
    color: gray;
    font-size: .9rem
}

/* trending layout and styling */

.trending {
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-rows: 1fr 9fr;
}

.trending-container {
    display: grid;
    background-color: white;
    padding: 10px;
    gap: 20px;
}

.trending-person {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.trending-person img {
    width: 3rem;
    border-radius: 100%;
}